RewriteEngine On
RewriteRule ^([^/]+)/([^/]+)/([^/]+)/?$ /router.php?handout=$1&page=$2&subheader=$3 [L,QSA]
RewriteRule ^([^/]+)/([^/]+)/?$ /router.php?handout=$1&page=$2 [L,QSA]
RewriteRule ^([^/]+)/?$ /router.php?handout=$1 [L,QSA]